#logo{
    position: absolute;
    max-width: 160px;
    height: auto;
    left: 18%;
    right: 0px;
    top:2px;
    z-index: 900;
}

#myImage{
    width: 100%;
    height: auto;
    left: 10%;
    right: 0px;
    cursor:pointer;
}
#myImage:hover{
    opacity: 0.5;
}
